@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  /* Paleta de Cores*/
  --corBranca: #Fff;
  --corBr: #f2f2f2;
  --corPreta: #000;
  --corPrincipal: #00AFAD;
  --corAnalogaClara: #00AFAD;
  --corAnalogaEscura: #003461;
  --corContrastanteClara: #FCAF17;
  --corContrastanteEscura: #F26522;
  --cor3: #048ABF;
}
header{
  height: 15vh;
  width: 100%;
  background-color: var(--corBranca);
  display: flex;
  justify-content: space-around;
  box-shadow: 0 5px 5px #00346150;
  position: fixed;
  top: 0;
  border-bottom: 3px solid var(--corPrincipal);
  
  
}
.headerLogo{
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8hv;
}
.logoImg{
  
  padding:2vh;
}

.navHeader> ul, .navHeader{
  list-style-type: none;
  display: flex;
  align-items: center;

}
.navItem{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  padding: 10px 15px;
  height: 15vh;
  text-transform: uppercase;
  font-size: 18px;
  color: var(--corAnalogaEscura);
  
  
  
  
  
  
}
.navItem:hover:not(.active){
  transform: translateY(5px);
}
.active{
  background-color: var(--corPrincipal);
  color: #fff;
  height: 16vh;
  border-radius: 0 0 15px 15px; 
  padding: 0 20px;
  box-shadow: 0 5px 5px #00000050;
}


/*
.headerMedia{
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerMedia ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.mediaItem a{
  height: 50px;
  width: 50px;
  display: flex;
  margin: 0 7.5px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--corPrincipal);
  border-radius: 10px;
  font-size: 26px;
  
  text-decoration: none;
  box-shadow: 0 0 5px #00000050;
  border: 2px solid #fff;

  transition: 0.3s;
}
.fa-envelope{
  font-weight: 600px;
}
.mediaItem a:hover{
  background-color: #1A80B880 ;
  
}
*/

/*             MAIN CSS               */
body{

  height: 300vh;
}

main{
  margin-top: 12vh;
  height: 60vh;
  background: url('https://stackblitz.com/files/web-platform-19jbmw/github/lazaroPedro/clin/main/doctor-holding-dentist-s-tools.jpg') no-repeat;
  filter: blur(0.2);
  
  background-position: top left;


 
}


.mainAgendamento{
  display: flex;

  
  width: 100%;

}
.ctaImg{
  width: auto;
}


.ctaText {
  width: 100%;
  
  color: var(--corAnalogaEscura);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  


  

  
}

 h1{
  text-align: center;
  font-size: 4rem;
  font-family: "Bebas Neue";
  letter-spacing: 5px;
  font-weight: 400;
}
 span{

  font-size: 2.5rem;
  letter-spacing: normal;

  
}
.ctaButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 300px;
  border-radius: 15px;
  font-size: 1.5rem;
  
  background-color: var(--corPrincipal);
  text-decoration: none;
  color: var(--corBranca);
  border: 2px solid var(--corBranca);
  font-weight: 800;
  box-shadow: 0 0 5px var(--corContrastanteClara);
  margin-top: 50px;

}

/*     Beneficios     */
