*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  /* Paleta de Cores*/
  --corBranca: #F2F2F2;
  --corPreta: #000;
  --corPrincipal: #1A80B8;
  --corAnalogaClara: #00AFAD;
  --corAnalogaEscura: #003461;
  --corContrastanteClara: #FCAF17;
  --corContrastanteEscura: #F26522;
  --cor3: #048ABF;

}
header{
  height: 80px;
  width: 100%;
  background-color: var(--corBranca);
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 10px #00000050;
  position: fixed;
  top: 0;
  
  
}
.headerLogo{
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
}
.logoImg{
  height: 70px;
  padding: 0 15px;
}
#headerContainer{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.headerMedia{
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerMedia ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.mediaItem a{
  height: 50px;
  width: 50px;
  display: flex;
  margin: 0 7.5px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--corPrincipal);
  border-radius: 10px;
  font-size: 26px;
  
  text-decoration: none;
  box-shadow: 0 0 5px #00000050;
  border: 2px solid #fff;

  transition: 0.3s;
}
.fa-envelope{
  font-weight: 600px;
}
.mediaItem a:hover{
  background-color: #1A80B880 ;
  
}


/*             MAIN CSS               */

main{
  margin-top: 80px;
}

.mainImg{

  height: 100%;
  width: 500px;
}
.mainAgendamento{
  display: flex;
  flex-direction: row;
  background-color: var(--corBranca);
  width: 100%;

}
.ctaImg{
  width: auto;
}


.ctaText {
  width: 100%;
  
  color: var(--corAnalogaEscura);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ctaText h1{
  font-size: 2.8rem;
}
.ctaText span{
  font-size: 2rem;
  
}
.ctaButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 250px;
  border-radius: 15px;
  font-size: 24px;
  
  background-color: var(--corContrastanteClara);
  text-decoration: none;
  color: var(--corBranca);
  border: 3px solid var(--corContrastanteEscura);
  font-weight: 800;
  box-shadow: 0 0 5px var(--corAnalogaClara);
}
.ctaButton i{
  color: green;
  margin-right: 10px;
  font-size: 28px;
  font-weight: 600;
  text-shadow: 0 0 5px #fff;
}

