@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

  /* Paleta de Cores*/
  --corBranca: #Fff;
  --corBr: #f2f2f2;
  --corPreta: #000;
  --corPrincipal: #00AFAD;
  --corAnalogaClara: #00AFAD;
  --corAnalogaEscura: #003461;
  --corContrastanteClara: #FCAF17;
  --corContrastanteEscura: #F26522;
  --cor3: #048ABF;

}
header{
  height: 100px;
  width: 100%;
  background-color: var(--corBr);
  display: flex;
  justify-content: center;
  box-shadow: 0 5px 5px #00346150;
  position: fixed;
  top: 0;
  border-bottom: 3px solid var(--corPrincipal);
  
  
}
.headerLogo{
  
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
}
.logoImg{
  height: 80px;
  padding: 0 15px;
}
#headerContainer{
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.headerMedia{
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerMedia ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.mediaItem a{
  height: 50px;
  width: 50px;
  display: flex;
  margin: 0 7.5px;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--corPrincipal);
  border-radius: 10px;
  font-size: 26px;
  
  text-decoration: none;
  box-shadow: 0 0 5px #00000050;
  border: 2px solid #fff;

  transition: 0.3s;
}
.fa-envelope{
  font-weight: 600px;
}
.mediaItem a:hover{
  background-color: #1A80B880 ;
  
}


/*             MAIN CSS               */

main{
  margin-top: 80px;
  display: block;

 
}

.mainImg{
  object-fit: cover;
  height: 400px;
  
  width: 400px;
}
.mainAgendamento{
  display: flex;

  background-color: var(--corBranca);
  width: 100%;

}
.ctaImg{
  width: auto;
}


.ctaText {
  width: 100%;
  
  color: var(--corAnalogaEscura);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  


  

  
}

.ctaText h1{
  text-align: center;
  font-size: 4rem;
  font-family: "Bebas Neue";
  letter-spacing: 5px;
  font-weight: 400;
}
.ctaText span{

  font-size: 2.5rem;
  letter-spacing: normal;

  
}
.ctaButton{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 300px;
  border-radius: 15px;
  font-size: 1.5rem;
  
  background-color: var(--corPrincipal);
  text-decoration: none;
  color: var(--corBranca);
  border: 2px solid var(--corBranca);
  font-weight: 800;
  box-shadow: 0 0 5px var(--corContrastanteClara);
  margin-top: 50px;

}

/*     Beneficios     */
